# Build outputs
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# ASP.NET temporary files
*.vs/
.vscode/
wwwroot/lib/

# Logs
*.log

# Database
*.db

# Sensitive files
appsettings.json
appsettings.Development.json
.env

# OS-specific files
.DS_Store
Thumbs.db
/wwwroot/web/js/jquery.min.js
